#Net beans
nbproject/

#Local Test data
storage/Logs/*.json
!storage/Logs/.gitkeep

storage/Users/*.json
!storage/Users/.gitkeep

storage/Items/*.json
!storage/Items/.gitkeep

storage/Sessions/*.json
!storage/Sessions/.gitkeep
